<head>
	   <link rel="stylesheet" href="/public/css/login.css">

</head>
<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>

{{#if errors.length}}
<p>Fix the errors</p>
<ul>
	{{#each errors}}
		<li>{{this}}</li>
	{{/each}}
</ul>
{{/if}}
<!--
<div class="sing-up-box">
<form action="" method="POST">
	
	<div>
		Username: <input type="text" name="username" value="{{username}}">
	</div>
	
	<div>
		Password: <input type="password" name="password" value="{{password}}">
	</div>
	
	<input type="submit" value="Sign up">
	
</form>
   <input type="text" name="username"placeholder="username" value="{{username}}">
      <input type="password" name="password"placeholder="password" value="{{password}}">


</div>
 -->

<form action="" method="POST">

<form class="login-box" method="POST">
  <div>
	  Username: <input type="text" name="username" value="{{username}}">
   </div>
   <div>
	 Password: <input type="password" name="password" value="{{password}}">
   </div>
      <input type="submit" value="Sign up">
 </form>
 </form>
</div>