<div class="content">
	<h2>Comment the drama below. </h2>
</div>

{{#if errors.length}}
<p>Fix the errors for drama </p>
<ul>
	{{#each errors}}
	<li>{{this}}</li>
	{{/each}}
</ul>
{{/if}}
<form action="" method="POST">

	<div>
		<div class="form-group">
			<label class="form-label" for="input-example-1">Name</label>
			<input type="text" name="name" value="{{name}}" placeholder="Name">
		</div>

		<div class="form-group">
			<label class="form-label" for="input-example-3">Description</label>
			<textarea class="input-lg" name="description" value="{{description}}" placeholder="Textarea" rows="3"></textarea>
		</div>

	  <button class="btn btn-primary input-group-btn">Submit</button>	
</form>
<!---
	<div>
		Name: <input type="text" name="name" value="{{name}}">
	</div>
	
	<div>
		Description: <input type="text" name="description" value="{{description}}">
	</div>
     <input type="submit" name="" value="Create">
</form>
-->