<div class="content">
	<h1>Drama recensions</h1>
	{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{else}}
     <a href="/drama-recension-create">Post a DramaRecension</a>
	{{#if dramaRecensions.length}}
	{{#each dramaRecensions}}
	<div class=".cont" id="recensions">
		<p><a href="/drama-recensions/{{dramaRecensionID}}"></a>
		<p>{{DramaRecensionDescription}}</p>
	</div>
	{{/each}}
	{{else}}
	<p>No drama recensions exist yet.</p>
	{{/if}}

	{{/if}}
</div>
		
	
