<div class="content">
    <h3>Are you sure you want to delete this drama</h3>
    <button style="background-color: green;"><a href="/dramas/{{drama.dramaID}}">Cancel</a></button>
	{{#if errors.length}}
    <div id="errorMessages">
          <ul>
            {{#each errors}}
			<li>{{this}}</li>
			{{/each}}
          </ul>
    </div>
   {{else}}
   {{#if drama}} 
   <div id="errorMessages">
       <ul>
           {{#each errorMessages}}
		    <li>{{this}}</li>
			{{/each}}
       </ul>
   </div>
   <ul>
       <li>Account Username: {{drama.username}}</li>
       <li>Description:{{drama.dramaDescription}}</li>
   </ul>
   <br> 
   <form action="" method="POST" class="form" id="post">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
   <input type="submit" class="btn btn-primary input" value="Delete Drama">
    </form>
    {{else}}
    <p>No, that drama doesn't exist yet.</p>
    {{/if}}
    {{/if}}

</div>