<div class="about-Container">
    <p>
        Welcome! This is a place for discussions and news about your favorite Korean drama series (current and past), the actors and actresses, drama reviews, official soundtracks, award shows, and more. Be sure to check out our sidebar for helpful info and resources!.
    </p>

</div>

<div class="content">
<h1>Drama </h1>
{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	{{#if drama}}
	<ul>
		<li>Dramas : {{drama.dramaID}}</li>
		<li>User: <a href="/accounts/{{drama.username}}">{{drama.username}}</a></li>
		<li>Description: {{drama.dramaDescription}}</li>
		<li>Name: {{drama.dramaName}}</li>
	</ul>
    {{#if admin}}
	<a href="/dramas/update/{{drama.dramaID}}"><button> update Drama</button></a> <br>
	<a href="/dramas/delete/{{drama.dramaID}}"><button> Delete Drama</button></a> <br>
	<h5>Your drama</h5>
	{{else}}
	<a href="/dramaRecensions/create"><button> make a dramaRecension</button></a>

	{{/if}}
	<h4>DramaRecension:</h4>
	{{#each dramaRecensions}}
	<div class="drama-recension">
          <a href="/dramaRecensions/{{dramaRecensionID}}">
		     <ul>
				 <li>Made Recension By: {{this.username}}</li>
				 <li>Description:{{this.dramaRecensionDescription}}
				 </li>
			 </ul>		  
		  </a>
	</div>
	{{/each}}
{{else}}
		<p>No, that drama doesn't exist.</p>
	{{/if}}
{{/if}}
</div>