<div class="content">
<h1>Drama </h1>

{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{else}}
	{{#if isDrama}}
		<ul>
			<li>Drama ID : {{drama.dramaID}}</li>
			<li>Account: <a href="/accounts/{{drama.username}}">{{drama.username}}</a></li>
			<li>Description: {{drama.dramaDescription}}</li>
			<li>Name: {{drama.dramaName}}</li>
		</ul>
		
    	<h4>DramaRecensions: </h4>
		{{#each dramaRecensions}}
			<div class="cont">
				<a href="/dramaRecensions/{{dramaRecensionID}}">
					<ul>
						<li>Made Recension By: {{this.username}}</li>
						<li>Description:{{this.dramaRecensionDescription}}
						</li>
					</ul>		  
				</a>
			</div>
		{{/each}}
		
		<a href="/dramaRecensions/create"> Create Recension</a>
	{{else}}
		<p>No dramas to show</p>
		<!---<a href="/drama/create"><button> create drama</button></a>
		--->
		
	{{/if}}
	
{{/if}}
</div>