<div class="content">
	<h1>All drama </h1>
	{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{else}}

	{{#if dramas.length}}	
	  {{#each dramas}}
	   <div class="cont">
	<p>posted By: {{dramaName}}</p>
     <li> {{dramaID}}. {{dramaName}} </li> 	 
	 <li>{{dramaDescription}}</li>	

	<br>
	<form action="" method="POST" class="form" id = "post">
	 <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
	 <label class="form-label" for="input-example-3">  Make a drama recension:</label>
	<textarea class="form-input" id="input-example-3" placeholder="Content" name="description" rows="5"  value="{{dramaRecensionDescription}}"></textarea>	 
   <input type="submit" class="btn btn-primary input-group-btn" value ="Create DramaRecension">
	</form>
					</form>
	 </div>
	{{/each}}
	if
 {{else}}
	<p>No drama exist yet.</p>
	{{/if}}
{{/if}}
</div>