<h5>Update Drama</h5>
{{#if errors.length}}
<div class="errorMessages">
    <p>Could not update drama :</p>
    <ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}
{{#if errorMessage.length }}
{{#each errorMessages}}
  <li>{{this}}</li>
  {{/each}}
  {{/if}}
  <br>
   <form action="" method="POST" class="form" id="post">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label class="form-label" for="input-example-1">Name</label>
    <input type="text" name="name" value="{{drama.dramaName}}" placeholder="Name">
    <label class="form-label" for="input-example-3">Drama Description</label>
    <input id="input-example-3" placeholder="content"name="description" value="{{drama.dramaDescription}}">
    <input type="submit"class="btn btn-primary input-group-btn" value="update Drama">	
</form>