{{#if errors.length}}
<div class="error">
<p>Fix the errors for drama </p>
<ul>
	{{#each errors}}
	<li>{{this}}</li>
	{{/each}}
  </ul>
</div>
{{/if}}
{{#if authError.length}}
{{#each authError}}
<li>{{this}}</li>
{{/each}}
{{/if}}
<br>

<form action="" method="POST" class="form" id="post">
<input type="hidden" name="_csrf" value="{{csrfToken}}">

<label class="form-label" for="input-example-1">Name</label>
<input type="text" name="name" value="{{dramaName}}" placeholder="Name">
<label class="form-label" for="input-example-3">Description</label>
<textarea class="form-input" id="input-example-3"  name="description" value="{{dramaDescription}}" placeholder="content" rows="6"></textarea>
<input type="submit"class="btn btn-primary input-group-btn" value="create Drama">	
</form>
