<div class="content">
<h1>Drama Recension</h1>
{{#if errors.length}}
	<p>Oh no, something went wrong:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
   {{else}}
	{{#if dramaRecension}}
    <ul>
		<li>Drama By{{dramaRecension.dramaName}}. {{dramaRecension.dramaDescription}}</li>
		<li>Description: {{dramaRecension.dramaRecensionDescription}}</li>
	</ul>
	{{else}}
	<p>there are no dramarecensions to show.</p>
	{{/if}}	
    {{/if}}
	
</div>